.homepage {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #E4EFFF 0%, rgba(228, 239, 255, 0.6) 92.51%, rgba(228, 239, 255, 0) 100%);
}

.LandingPage {
    width: 100%;
    height: 600px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.LandingPage-content {
    width: 90%;
    height: 95%;
    margin-top: 3%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.LandingPage-content .navbar {
    display: flex;
    justify-content: space-between;

}

.landing-image {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(-100%);
    overflow: hidden;
}

.landing-image img {
    float: right;
    height: 110%;
}

.app-name {
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 44.27px;
    text-align: left;
    color: #6165F3;
}

.navbar-item {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.links {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
    text-align: left;
    color: #193766;

}

.active {
    color: #001533;
    font-weight: 700;
}

.navbar button {
    background-color: #FFFFFF;
    border: 0px solid white;
    outline: none;
    border-radius: 10px;
    padding: 0px 24px;
    cursor: pointer;
}

.landing-main {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.landing-main-content,
.landing-main-social {
    width: 48%;
}

.landing-main-social {
    /* border: 1px solid red; */
}

.landing-main-social-image {
    height: 50%;
    width: 100%;
    /* background-color: pink; */
}

.landing-main-social-image img {
    width: 73%;
    float: right;
}

.social-content {
    position: relative;
    float: right;
    width: 60%;
    background-color: white;
    z-index: 4;
    box-shadow: 12px 12px 60px 0px #0000000F;
    margin-top: -17%;
    margin-right: 3%;
    height: 70px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.social-one .headding {
    font-size: 12px;
}

.social-one .lines {
    width: 100%;
    background-color: rgb(211, 208, 208);
    height: 6px;
    border-radius: 8px;
}

.social-one .line {
    width: 60%;
    background-color: blue;
    height: 100%;
    border-radius: 8px;
}

.social-one .line1 {
    width: 40%;
    background-color: skyblue;
    height: 100%;
    border-radius: 8px;
}

.social-one .line2 {
    width: 80%;
    background-color: green;
    height: 100%;
    border-radius: 8px;
}


.social-one .count {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.landing-main-social-black-image img {
    position: absolute;
    left: 94%;
    transform: translateX(-50%);
    margin-top: -18%;
}

.landing-main-heading-1 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    color: #193766;
}

.landing-main-heading-2 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #193766;
}

.landing-main-heading-2 .span-one {
    border-bottom: 3px solid #193766;
}

.landing-main-paragraph {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #697B98;
}

.landing-btn {
    display: flex;
    justify-content: flex-start;
}

.download-btn {
    outline: none;
    border: 0px solid #6165F3;
    background-color: #6165F3;
    margin-right: 10px;
    border-radius: 6px;
    padding: 20px 30px 20px 30px;
    color: white;
    font-weight: 700;
    box-shadow: 0px 30px 60px 0px #3B82F640;
}

.See-in-Action {
    outline: none;
    border: 0px solid #6165F3;
    margin-left: 10px;
    background: #C6DBFF;
    border-radius: 6px;
    padding: 20px 30px 20px 30px;
    color: #6165F3;
    font-weight: 700;
}

/* Section 2  */
.section-two {
    width: 100%;
    overflow-x: hidden;
    min-height: 850px;
}

.section-two img {
    position: absolute;
    margin-top: 30px;
}

.section-two-content {
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-two-box {
    /* background-color: green; */
    width: 60%;
    height: 100%;
    margin-top: 30px;
    /* background-color: pink; */
}

.section-two-box img {
    width: 920px;
    height: 550px;
}

.section-two-box .paragraph {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-two-box .paragraph p {
    width: 80%;
    color: #193766;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 49px;
    text-align: center;
}

.section-three {
    width: 100%;
    overflow-x: hidden;
    min-height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-three .section-three-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section-three-box {
    width: 30%;
    background-color: #F7F7F7;
    border-radius: 16px;
    padding: 6px;
    height: 220px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-three-box-color {
    width: 30%;
    background-color: #6165F3;
    border-radius: 16px;
    padding: 6px;
    height: 220px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #F7F7F7;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -25%;
    margin-bottom: 20px;

}

.icon img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.section-three-box-color .icon {
    width: 50px;
    height: 50px;
    background-color: #6165F3;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -25%;
    margin-bottom: 20px;
}

.p-heading {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: black;
    padding: 10px;
}

.section-three-box-color .p-heading {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.p-p {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.section-three-box-color .p-p {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: white;
}

.home,
.investor-app {
    position: relative;
}

.home {
    color: #1a3766;
}

.home-parent {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    font-size: 16px;
    color: rgba(0, 21, 51, 0.6);
}

.download-wrapper,
.frame-wrapper,
.home-parent {
    display: flex;
    justify-content: center;
}

.download-wrapper {
    border-radius: 6px;
    background-color: #fff;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px;
}

.frame-wrapper {
    width: 295px;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
}

.investor-app-parent {
    width: 1180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.entrepreneurs-and-investors {
    text-decoration: underline;
    font-weight: 500;
}

.revolutionizing-social-media-container {
    width: 572px;
    position: relative;
    line-height: 74px;
    display: inline-block;
}

.frame-child {
    align-self: stretch;
    position: relative;
    background-color: #c4c4c4;
    height: 20px;
    opacity: 0;
}

.turn-your-vision {
    width: 456px;
    position: relative;
    font-size: 22px;
    line-height: 36px;
    color: #697b98;
    display: inline-block;
}

.frame-item {
    align-self: stretch;
    position: relative;
    background-color: #c4c4c4;
    height: 40px;
    opacity: 0;
}

.download-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.download-parent,
.play-circle-parent {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 15px;
}

.download-parent {
    box-shadow: 0 30px 60px rgba(59, 130, 246, 0.25);
    background-color: #6165f3;
}

.play-circle-parent {
    background-color: #c6dbff;
    color: #6165f3;
}

.frame-container,
.frame-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-div {
    flex-direction: row;
    gap: 15px;
    font-size: 16px;
    color: #f4f7ff;
}

.frame-container {
    flex-direction: column;
}

.shots-so-1-icon {
    position: absolute;
    top: -110px;
    left: calc(50% - 201.5px);
    width: 402px;
    height: 542px;
    object-fit: cover;
}

.rating-board-child,
.shots-so-1-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 37px 28px 0 0;
    width: 473px;
    height: 432px;
}

.rating-board-child {
    box-shadow: 12px 12px 40px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background-color: #fff;
    width: 416px;
    height: 88px;
}

.investors,
.k {
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 16px;
    font-weight: 500;
}

.k {
    top: 18px;
    left: 18px;
    font-size: 24px;
    line-height: 30px;
}

.child,
.item {
    top: 52px;
    left: 0;
    border-radius: 100px;
    height: 6px;
}

.child {
    position: absolute;
    background-color: #d9d9d9;
    width: 74px;
}

.item {
    background-color: #5840b8;
    width: 64px;
}

.div,
.item,
.viewers {
    position: absolute;
}

.div {
    top: 15px;
    left: 24px;
    width: 74px;
    height: 58px;
}

.viewers {
    top: 0;
    left: 18px;
    line-height: 16px;
    font-weight: 500;
}

.div2 {
    top: 18px;
    left: 14px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.child1,
.div1,
.div2 {
    position: absolute;
}

.child1 {
    top: 52px;
    left: 0;
    border-radius: 100px;
    background-color: #5ebb0f;
    width: 37px;
    height: 6px;
}

.div1 {
    top: 15px;
    left: 312px;
    width: 74px;
    height: 58px;
}

.entrepreneurs {
    top: 0;
    left: 3px;
    line-height: 16px;
    font-weight: 500;
}

.child3,
.div3,
.entrepreneurs {
    position: absolute;
}

.child3 {
    top: 52px;
    left: 0;
    border-radius: 100px;
    background-color: #4dc5fc;
    width: 57px;
    height: 6px;
}

.div3 {
    top: 15px;
    left: 165px;
    width: 74px;
    height: 58px;
}

.group-div,
.rating-board {
    position: absolute;
    top: 395px;
    left: 28px;
    width: 416px;
    height: 88px;
}

.group-div {
    top: 105px;
    left: 99px;
    width: 473px;
    height: 483px;
}

.group-wrapper {
    width: 574px;
    position: relative;
    height: 588px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
    font-size: 10px;
    color: #000;
}

.frame-group,
.frame-parent {
    display: flex;
    justify-content: flex-start;
}

.frame-group {
    width: 1179px;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    font-size: 56px;
    color: #1a3766;
}

.frame-parent {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 65px;
}

.component-parent {
    width: 100%;
    position: relative;
    height: 696px;
    text-align: left;
    font-size: 34px;
    color: #6165f3;
    font-family: "DM Sans";
}

.rectangle-div {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg,
            #e4efff,
            rgba(228, 239, 255, 0.6) 92.51%,
            rgba(228, 239, 255, 0));
    height: 805px;
    overflow-x: hidden;
}

.component-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.home,
.investor-app {
    position: relative;
}

.home {
    color: #1a3766;
}

.home-parent {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    font-size: 16px;
    color: rgba(0, 21, 51, 0.6);
}

.download-wrapper,
.frame-wrapper,
.home-parent {
    display: flex;
    justify-content: center;
}

.download-wrapper {
    border-radius: 6px;
    background-color: #fff;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px;
}

.frame-wrapper {
    width: 295px;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
}

.investor-app-parent {
    width: 1180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.entrepreneurs-and-investors {
    text-decoration: underline;
    font-weight: 500;
}

.revolutionizing-social-media-container {
    width: 572px;
    position: relative;
    line-height: 74px;
    display: inline-block;
}

.frame-child {
    align-self: stretch;
    position: relative;
    background-color: #c4c4c4;
    height: 20px;
    opacity: 0;
}

.turn-your-vision {
    width: 456px;
    position: relative;
    font-size: 22px;
    line-height: 36px;
    color: #697b98;
    display: inline-block;
}

.frame-item {
    align-self: stretch;
    position: relative;
    background-color: #c4c4c4;
    height: 40px;
    opacity: 0;
}

.download-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.download-parent,
.play-circle-parent {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    /* gap: 15px; */
    cursor: pointer;
}

.investor-app,
.home,
.frame-wrapper {
    cursor: pointer;
}

.download-parent {
    box-shadow: 0 30px 60px rgba(59, 130, 246, 0.25);
    background-color: #6165f3;
}

.play-circle-parent {
    background-color: #c6dbff;
    color: #6165f3;
}

.frame-container,
.frame-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-div {
    flex-direction: row;
    gap: 15px;
    font-size: 16px;
    color: #f4f7ff;
}

.frame-container {
    flex-direction: column;
}

.shots-so-1-icon {
    position: absolute;
    top: -110px;
    left: calc(50% - 201.5px);
    width: 402px;
    height: 542px;
    object-fit: cover;
}

.rating-board-child,
.shots-so-1-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 37px 28px 0 0;
    width: 473px;
    height: 432px;
}

.rating-board-child {
    box-shadow: 12px 12px 40px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background-color: #fff;
    width: 416px;
    height: 88px;
}

.investors,
.k {
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 16px;
    font-weight: 500;
}

.k {
    top: 18px;
    left: 18px;
    font-size: 24px;
    line-height: 30px;
}

.child,
.item {
    top: 52px;
    left: 0;
    border-radius: 100px;
    height: 6px;
}

.child {
    position: absolute;
    background-color: #d9d9d9;
    width: 74px;
}

.item {
    background-color: #5840b8;
    width: 64px;
}

.div,
.item,
.viewers {
    position: absolute;
}

.div {
    top: 15px;
    left: 24px;
    width: 74px;
    height: 58px;
}

.viewers {
    top: 0;
    left: 18px;
    line-height: 16px;
    font-weight: 500;
}

.div2 {
    top: 18px;
    left: 14px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.child1,
.div1,
.div2 {
    position: absolute;
}

.child1 {
    top: 52px;
    left: 0;
    border-radius: 100px;
    background-color: #5ebb0f;
    width: 37px;
    height: 6px;
}

.div1 {
    top: 15px;
    left: 312px;
    width: 74px;
    height: 58px;
}

.entrepreneurs {
    top: 0;
    left: 3px;
    line-height: 16px;
    font-weight: 500;
}

.child3,
.div3,
.entrepreneurs {
    position: absolute;
}

.child3 {
    top: 52px;
    left: 0;
    border-radius: 100px;
    background-color: #4dc5fc;
    width: 57px;
    height: 6px;
}

.div3 {
    top: 15px;
    left: 165px;
    width: 74px;
    height: 58px;
}

.group-div,
.rating-board {
    position: absolute;
    top: 395px;
    left: 45px;
    width: 416px;
    height: 88px;
}

.rating-board {
    top: 345px;
}

.group-div {
    top: 105px;
    left: 99px;
    width: 473px;
    height: 483px;
}

.group-wrapper {
    width: 574px;
    position: relative;
    height: 588px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
    font-size: 10px;
    color: #000;
}

.frame-group,
.frame-parent {
    display: flex;
    justify-content: flex-start;
}

.frame-group {
    width: 1179px;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    font-size: 56px;
    color: #1a3766;
}

.frame-parent {
    position: absolute;
    top: 10%;
    left: 50%;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 65px;
    transform: translateX(-50%);
}

.component-parent {
    width: 100%;
    position: relative;
    height: 696px;
    text-align: left;
    font-size: 34px;
    color: #6165f3;
    font-family: "DM Sans";
}

.image {
    width: 100%;
    position: absolute;
    height: 796px;
}

.image img {
    float: right;
    /* border: 1px solid red; */
    height: 100%;
    margin-right: -10px;
}

.bg,
.component-1-icon {
    position: absolute;
    width: 150px;
}

.bg {
    top: 0;
    left: 1px;
    border-radius: 20px;
    background-color: #1c1e1f;
    height: 150px;
}

.component-1-icon {
    top: 8px;
    left: 0;
    height: 150px;
    object-fit: contain;
}

.connecting {
    top: 46px;
    line-height: 30px;
}

.circle-icon,
.connecting,
.people {
    position: absolute;
    left: 16px;
}

.connecting {}

.people {
    top: 80px;
    font-size: 14px;
    line-height: 24px;
    font-family: Inter;
}

.circle-icon {
    top: 12.7px;
    width: 45px;
    height: 10px;
}

.total-users {
    width: 100%;
    position: relative;
    height: 200px;
    left: 65%;
    top: -5%;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: "DM Sans";
}








.section2-Videos {
    width: 100%;
    background-color: white;
    min-height: 600px;
    max-height: auto;
    display: flex;
    justify-content: center;
}

.section2-content {
    width: 80%;
    min-height: 95%;
}

.section2-content1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section2-content1-con {
    width: 48%;
    padding: 20px;
    color: #193766;
    background-color: white;

}

.section2-content1-headding {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
}

.con-para {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #697B98;
}

.section2-content1-image {
    width: 48%;
    padding: 20px;
    /* background-color: rgb(6, 253, 6); */
    overflow-x: hidden;
}

.section2-content1-image2 {
    width: 48%;
    padding: 20px;
    /* background-color: rgb(6, 253, 6); */
    overflow-x: hidden;
}

.section2-content1-image img {
    width: 100%;
}

.section2-content1-image2 img {
    width: 100%;
    scale: 1.4;
    overflow: hidden;


}

.section2-list {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 10px;
}

.list-box {
    /* border-left: 5px; */
    width: 25px;
    height: 12px;
    background: #3B82F6;
    margin-right: 10px;
}

.headding-list {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #193766;
}

.heading_ {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    color: #3B82F6;
}

body {
    overflow-x: hidden;
}

.section3 {
    width: 110%;
    height: 550px;
    background: #0C0D38;
    margin: 50px 50px 0 0;
    margin-left: -20px;
    transform: rotateZ(-3deg);
    overflow: hidden;

}

.section3 img {
    width: 60%;
    scale: 1.2;
    margin-top: 55px;
    height: 100%;
    float: right;
    margin-right: 160px;
    position: relative;
    z-index: 2;
    /* transform: rotateZ(-3deg); */
}

.section3-content {
    width: 60%;
    height: 70%;
    position: absolute;
    z-index: 3;
    top: 15%;
    left: 10%;
    transform: rotateZ(3deg);
}

.section3-content-app {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #6165F3;
}

.section-con {
    width: 40%;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: white;
}

.section3-para {
    width: 40%;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #ADBDCC;
}

.sectio3-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.sectio3bx1 {
    width: 20%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.section3line {
    color: #6165F3;
    font-weight: 800;
    margin-right: 10px;

}

.sectio3bx1 .count {
    color: white;

    /* #ADBDCC */
}

.conten-para {
    color: #ADBDCC;
    /* #ADBDCC */
    font-size: 13.77px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.section4-heading {
    display: flex;
    width: 100%;
    justify-content: center;

}

.mysection {
    /* width: 20%; */
    /* display: block; */
    width: 50%;
    justify-content: center;
    text-align: center;
}

.mysection h2 {
    font-family: sans-serif;
    font-size: 40.31px;
    font-weight: 700;
    line-height: 50.97px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000000;

}

.mysection p {
    font-family: sans-serif;
    font-size: 17.41px;
    font-weight: 400;
    /* line-height: 28.49px; */
    /* text-align: left; */
    color: #000000;

}

.section5 {
    width: 100%;
    min-height: 500px;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5-con {
    width: 80%;
    height: 450px;
    /* border: 1px solid red; */
    background: linear-gradient(74.28deg, #EAF3FF 0.53%, #FFFFFF 96.94%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.conRactangular {
    width: 360.13px;
    height: 300px;
    /* top: 456.54px; */
    position: relative;
    float: left;
    margin-top: 100px;
    gap: 0px;
    opacity: 0px;
    margin-left: -180px;
    border-radius: 40px;
    transform: rotate(-50deg);
    background: linear-gradient(274.11deg, rgba(59, 130, 246, 0.1) -7.65%, rgba(59, 130, 246, 0) 91.29%);
}

.con-1 {
    width: 48%;
    /* background-color: pink; */
}

.con-section {
    position: absolute;
    width: 38%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.con-section h2 {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 80%;


}

.con-section p {
    font-family: sans-serif;
    font-size: 17.41px;
    font-weight: 400;
    line-height: 28.49px;
    /* text-align: justified; */
    width: 80%;
}

.section5-ico {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.con-2 {
    width: 48%;

}

.con-2 img {
    width: 100%;
    height: 100%;
    scale: 0.8;
}

.section6-con {
    width: 80%;
    border-radius: 10px;
    background: url('../../public/frame@3x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.section6-con h2 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;
    color: white;

}

.section6-btn {
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 130px;
        left: 21px; */
    padding: 5px;
    /* gap: 10px; */
    border-radius: 50px;
    /* border: 3px 0px 0px 0px; */
    opacity: 0px;
    color: white;
    border: 3px solid #FFFFFF
}

.section6-con p {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    color: white;
    /* text-align: justified; */
}

.section6-button {
    width: 100px;
    height: 20px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border: 3px;
    opacity: 0px;
    border: 3px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 50px;
}

.section7-con {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: white;
}

.section7-con h2 {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 34px;
    text-align: left;
    color: #193766;
}

.section7-con p {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #697B98;
    /* margin-top: -40px; */
}

.blue-box {
    width: 95%;
    height: 30px;
    padding: 25px 35px 25px 35px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    background: #6165F3;
    color: white;
    box-shadow: 0px 30px 60px 0px #3B82F640;
}

.list-c6 {
    width: 95%;
    height: 40px;

    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;

}

hr {
    background-color: rgb(240, 239, 239);
    width: 100%;
}

.section7-con img {
    scale: 1;
}

.section8-con {
    width: 100%;
    min-height: 500px;
}

/* Basic styling for the Collapse component */
.ant-collapse {
    border: none;
    border-radius: 0px;
}

/* Styling for individual Collapse items */
.ant-collapse-item {
    background-color: white;
}

/* Styling for the expand icon container */
.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
    background-color: #f7f7f7;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: small;
    font-weight: 800;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition */
}

/* Additional styling when the expand icon is at the end position */
.ant-collapse.ant-collapse-icon-position-end>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
    padding-inline-start: 0px;
}

/* Hover effect for the expand icon */
.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon:hover {
    background-color: blue;
    color: white;
}

/* Ensure that the icon inside the expand icon container also inherits the hover color */
.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon:hover .anticon {
    color: inherit;
    /* Inherits white color */
}

.section10 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section10-con {
    background-color: #0C0D38;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 90%;
}

.section10-con-btn {

    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 100px;
    opacity: 0px;
    background-color: #3B82F61A;
    border: none;
    color: #3B82F6;
}

.section10-con-headding {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    color: white;
    text-align: center;
    margin: 10px 0px;
}

.section10-con-headding span {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    color: #6165F3;
    text-align: center;
    border-bottom: 2px solid #6165F3;

}

.section10-con p {
    color: #AEC6EE;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #AEC6EE;
    text-align: center;
}

.section10 .download-parent {
    background: #6165F3;
    box-shadow: 0px 15px 40px 0px #3B82F640;
    width: 160px;
    height: 25px;
    padding: 10px 15px 10px 15px;
    /* gap: 15px; */
    border-radius: 6px;
    opacity: 0px;
    color: white;
}

.footer {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 40px;
}

.footer-con {
    width: 100%;
    height: 100%;

    transform: rotate(-2deg);
    margin-top: 75px;
    scale: 1.1;
    background: #0C0D38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-items {
    width: 80%;
    height: 80%;
    transform: rotate(2deg);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}


.footer-item {
    width: 24%;
    color: white;


}

.Investor-footer {
    font-family: sans-serif;
    font-size: 30.87px;
    font-weight: 700;
    line-height: 42.81px;
    text-align: left;
}

.footer-items .para {
    font-family: sans-serif;
    font-size: 14.67px;
    font-weight: 400;
    line-height: 24.46px;
    letter-spacing: 0.025em;
    text-align: left;
    color: #E4E4E4;
}

.footerbtn {
    width: 166.05px;
    height: 38.36px;
    /* top: 10618.42px; */
    /* left: 141.08px; */
    gap: 0px;
    border-radius: 25.27px;
    opacity: 0px;
    background: #FFFFFF;
    border: none;
}

.footer-content {
    font-family: sans-serif;
    font-size: 19.87px;
    font-weight: 700;
    line-height: 63.81px;
    text-align: left;
}

.fo-links {
    font-family: sans-serif;
    font-size: 12.67px;
    font-weight: 300;
    line-height: 44.91px;
    text-align: left;
}

.fo-links-con {
    font-family: sans-serif;
    font-size: 11.67px;
    font-weight: 400;
    line-height: 20.38px;
    letter-spacing: 0.025em;
    text-align: left;
}

.fo-links-con span {
    font-size: 14.67px;
    font-weight: 400;
    line-height: 20.38px;
    letter-spacing: 0.025em;
    text-align: left;
    font-family: sans-serif;
    color: #A3DC2F;
}

.fo-links-numbr {
    font-family: sans-serif;
    font-size: 11.67px;
    font-weight: 300;
    line-height: 22.91px;
    text-align: left;
}

.copyRight {
    width: 100%;
    height: 80px;
    background: #0C0D38;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #131453;
}

.copayRight-con{
    font-family: sans-serif;
    font-size: 12.48px;
    font-weight: 400;
    line-height: 56.76px;
    letter-spacing: 0.025em;
    text-align: left;
    color: #F4E9E9
}